body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    justify-content: center;
    background-color:#ECEBF0 ;
    height: 400px;
    width: 30%;
}

article {
    border: red solid 2px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}