body {
    background-color:hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    height: 400px;
    width: 50%;
}

article {
    padding: 20px;
}

#art_1 {
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#art_2 {
    background-color: hsl(179, 62%, 43%);
}

#art_3 {
    background-color: hsl(179,62%, 49%);
}

#content {
    display: flex;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}